<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>
                <a routerLink="/login">
                  <mat-icon aria-hidden="false" aria-label="Login Back" fontIcon="arrow_back"></mat-icon>
                </a>
                Registro
              </h1>
              <div *ngIf="message" class="alert alert-{{type}}" role="alert">
                {{ message }}
              </div>
              <p class="text-body-secondary">Completar formulario</p>

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input cFormControl placeholder="Nombre y Apellido" name="nombre" [(ngModel)]='nombre' />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input cFormControl placeholder="Legajo" name="legajo" [(ngModel)]='legajo' />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl placeholder="Email" name="email" [(ngModel)]='email' />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" name="password" [(ngModel)]='password'/>
              </c-input-group>

              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" name="repeatpassword" [(ngModel)]='repeatpassword'/>
              </c-input-group>

              <!-- Campo desplegable para seleccionar el perfil -->
              <c-input-group class="mb-4">
                <span cInputGroupText>Perfil</span>
                <select cFormControl [(ngModel)]="perfil" name="perfil">
                  <option value="usuario">Usuario Común</option>
                  <option value="administrador">Administrador</option>
                </select>
              </c-input-group>

              <div class="d-grid">
                <button cButton color="success" (click)="register()">
                  <ng-container *ngIf="loadingregister; else registerButton">
                    <c-spinner aria-hidden="false" size="sm"></c-spinner>Cargando...
                  </ng-container>
                  <ng-template #registerButton>
                    Crear Cuenta
                  </ng-template>
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
